<%inherit file="base.html" />
<%def name="title()">Hackathon</%def>
<%def name="js_defer()">
    ${ parent.js_defer()}
    <script type="text/javascript" src="/static/findSource/js/findSource.js"></script>
</%def>
<%def name="css_files()">
    ${ parent.css_files() }
</%def>

<h3>Hello, this is our Hackathon</h3>
<br>

<div class="form-group">

    <!--label for="user-input">Please input a key word</label>
    <input class="form-control" id="user-input" placeholder="Machine Learning"-->


<label class="control-label" for="inputSuccess1">Please choose a department</label>
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>



<label class="control-label" for="inputSuccess1">Please choose a year</label>
<select class="form-control">

  <option>2014 Spring</option>  
  <option>2014 Summer</option>
  <option>2014 Fall</option>
  <option>2014 Winter</option>

  <option>2013 Spring</option>  
  <option>2013 Summer</option>
  <option>2013 Fall</option>
  <option>2013 Winter</option>

  <option>2012 Spring</option>  
  <option>2012 Summer</option>
  <option>2012 Fall</option>
  <option>2012 Winter</option>

  <option>2011 Spring</option>  
  <option>2011 Summer</option>
  <option>2011 Fall</option>
  <option>2011 Winter</option>   

  <option>2010 Spring</option>  
  <option>2010 Summer</option>
  <option>2010 Fall</option>
  <option>2010 Winter</option>

  <option>2009 Spring</option>  
  <option>2009 Summer</option>
  <option>2009 Fall</option>
  <option>2009 Winter</option>

  <option>2008 Spring</option>  
  <option>2008 Summer</option>
  <option>2008 Fall</option>
  <option>2008 Winter</option>

  <option>2007 Spring</option>  
  <option>2007 Summer</option>
  <option>2007 Fall</option>
  <option>2007 Winter</option> 

  <option>2006 Spring</option>  
  <option>2006 Summer</option>
  <option>2006 Fall</option>
  <option>2006 Winter</option>   

  <option>2005 Spring</option>  
  <option>2005 Summer</option>
  <option>2005 Fall</option>
  <option>2005 Winter</option> 
  
  <option>2004 Spring</option>  
  <option>2004 Summer</option>
  <option>2004 Fall</option>
  <option>2004 Winter</option>  

</select>


</div>
<button id="search" class="btn btn-default">Search</button>

