<%inherit file="base.html" />
<%def name="title()">Hackathon</%def>
<%def name="js_defer()">
    ${ parent.js_defer()}
    <script type="text/javascript" src="/static/findSource/js/findSource.js"></script>
</%def>
<%def name="css_files()">
    ${ parent.css_files() }
</%def>

<h3>Hello, this is our Hackathon</h3>
<br>

<div class="form-group">

    <!--label for="user-input">Please input a key word</label>
    <input class="form-control" id="user-input" placeholder="Machine Learning"-->


<label class="control-label" for="inputSuccess1">Please choose a department</label>
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>


<label class="control-label" for="inputSuccess1">Please choose a year</label>
<select class="form-control">
% for item in object_list:
  <option>1</option>
% endfor
</select>

<label class="control-label" for="inputSuccess1">Please choose a term</label>
<select class="form-control">
% for item in object_list:
  <option>2/option>
% endfor
</select>



</div>
<button id="search" class="btn btn-default">Search</button>

